*{
    padding: 0;
    margin: 0;
}
header{
    height: 100vh;  
     backdrop-filter: blur(8px);
    background-image: url(image/back1fond.png);
    background-size: cover;
    display: flex;
    justify-content: center;

}
.container{
        width: 1300px;
        display: flex;
        flex-direction: column;
       
    
}
.box1{
    width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbartop{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
        width: auto;
        height: 50px;
        border-color: black ;
    
}
.section1{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;

}
.textlogo{
    display: flex;
    flex-direction: column;
align-items: end;
}
.EVERYTHING {
    background-color: antiquewhite;
width: 973px;
height: 120px;
display: flex;
align-items: center;
font-family: 'Rammetto One';
font-style: normal;
font-weight: 400;
font-size: 120px;
line-height: 203px;
background: radial-gradient(50% 50% at 50% 50%, #9A635A 0%, #88554A 0.01%, #865348 58.85%, #3E1809 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-text-stroke: 3px white;
}
.STARTS{
    letter-spacing: 20px;
width: px;
height: 119px;
font-family: 'Faster One';
font-style: normal;
font-weight: 400;
font-size: 120px;
line-height: 128px;
text-align: center;
color: #371406;
-webkit-text-stroke: 3px white;
}
.Ioan{
width: 420px;
height: 200px;
font-family: 'Pacifico';
font-style: normal;
font-weight: 400;
font-size: 250px;
display: flex;
align-items: center;
justify-content: center;
color: transparent;
-webkit-text-stroke: 10px white;

}
.btn{
    display: flex;
    height: 100%;
    gap: 20px;
    a{
        font-weight: bold;
text-decoration: none;
    list-style: none;
    color: black;
    }
}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-inline: 15px;
    background-color: #F2C7B7;
a{
    
    color:black;
    font-weight: 700;
}
    border-radius: 10px;
}
.time{
    background-color: RGB(242, 199, 183,0.3);
    font-family: 'Roboto Mono';
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-text-stroke: 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;

    strong{
        font-size: 35px;
        display: flex;
        justify-content: center;
    }
    width: 300px;
    border-top: 10px solid;
    border-bottom: 10px solid;
    color: white;
.zi{
padding-left: 10px;
    list-style-type: none;
    font-size: 30px;
    font-weight: bolder;
    

}
.orar{
    padding-right: 10px;
    font-size: 25px;
display: flex;
align-items: center;
justify-content: space-between;
}
.dum{
    padding-inline: 20px;
    font-size: 30px;
    font-style: italic;
    display: flex;
    justify-content: space-between;
}
}

.alte{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 1px solid;
    border-radius: 10px;
    gap: 40px;
    padding-inline: 15px;
}
.coffee1{
    height: 100vh;
    background-image: url(image/back2coffee1.png);
    background-size: contain;
}
.contact:active{
 background-color: #371406;
.section1{
    display: none;
}
}
.navbarbottom{
    margin-top: 150px;
    display: flex;
    list-style: none;
width: 800px;
height: 50px;
justify-content: space-between;
    a{
    text-decoration: none;
    color: black;

    }
}
.btnb{
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 10px;
    height: 100%;
    background-color: #F2C7B7;
}

