.coffee1 {
padding-block: 50px;
    background-image: url(../image/2BACKCOFFE1.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container2 {
    max-width: 1100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-inline: 100px;

}


.cof {
    height: 150px;
    display: flex;
}

.cof img {
    border-radius: 30%;
}

.cappuccino,
.americano {
    flex-direction: row-reverse;
    justify-content: right;
}

.descriere {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-inline: 15px;
    transition: 0.5s;

}
.descriere .text {
    font-size: 16px;
}


.descriere:hover {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-inline-start: 5px;
    margin-inline-end: -5px;
    transition: 0.5s;

}

.descriere .name {
    font-family: 'Rammetto One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    background: radial-gradient(50% 50%, #865348 58.85%, #3E1809 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.container2 .box2__coffee {
    padding: 10px;
    background-color: antiquewhite;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height: auto;

}

.container2 .box2__pret {
    font-family: 'Iceland';
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container2 .round {
    font-size: 40px;
    width: auto;
    display: flex;
    align-items: end;
    gap: 30px;
    justify-content: right;
    text-decoration: red;
    text-underline-offset: 10px;
    border-bottom: 3px solid #3E1809;
    transition: 0.5s;
}

.container2 .round:hover {
    padding-right: 10px;
    transition: 0.5s;
}
@media screen and (max-width: 1100px){
    .container2{
        flex-direction: column;
        align-items: center;
    }
    
}
@media screen and (max-width: 600px){
    .container2{

       margin-inline: 0px;
       padding-inline: 20px;
    }
    
.container2 .round {
    font-size: 20px;    
    gap: 10px;

}
.descriere .text {
    font-size: 15px;
}
.cof img{
    height: 100px;
    width: 100px;
}
}