* {
    padding: 0;
    margin: 0;
}
.orar__lucru {
    padding-block: 50px;
    background-image: url(../image/yammy.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.orar-hidden {
    display: none;
}



.container1 {
    max-width: 1100px;
    margin-inline: 100px;
}

.container1 .textwho {
    border-radius: 5px;
    background: linear-gradient(90deg, rgb(255, 255, 255) 35%, rgba(151, 147, 142, 0.628) 100%);
    padding: 20px;
    max-width: 700px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Roboto Mono';
}

.time {
    max-width: 400px;
    min-width: 300px;
    background-color: RGB(237, 229, 217, 0.3);
    font-family: 'Roboto Mono';
    -webkit-text-stroke: 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 10px solid;
    border-bottom: 10px solid;
    color: white;

}

.time strong {
    font-size: 35px;
    display: flex;
    justify-content: center;
}

.time .zi {
    padding-left: 10px;
    list-style-type: none;
    font-size: 30px;
    font-weight: bolder;


}

.time .orar {
    padding-right: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.time .dum {
    padding-inline: 20px;
    font-size: 30px;
    font-style: italic;
    display: flex;
    justify-content: space-between;
}

.box_orar{
  
 display: flex;

    border: 5px solid;
background-color: rgb(255, 255, 255, 0.3);
    padding-block: 50px;
    padding-inline: 50px;
    gap: 50px  ;

 
}
@media screen and (max-width: 1100px) {
    .box_orar{
        flex-direction: column;
align-items: center;
    
    }
}
@media screen and (max-width: 630px) {
    .box_orar{
        padding-inline: 10px;
    }
.time{
    min-width: 200px;
}


.container1 .textwho{
font-size: 12px;
max-width: 300px;
}

.time .dum{
    font-size: 20px;
    color: red;
    -webkit-text-stroke: 0;
}
.container1{
    margin-inline: 10px;
}
}