footer{
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;    
    padding-top: 30px;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    
}
.footer_container{
    max-width: 1300px;
    width: 100%;
    margin-inline: 50px;


}
.footer_box{
    display: flex;
gap: 40px;
}

.footer_infocontact{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_infocontact .footer_headtext {
    font-size: 20px;

}

.footer_infocontact .footer_infotext {
    font-size: 15px;
    font-weight: regular;
    gap: 30px;
    display: flex;
    flex-direction: column;

}

.footer_infocontact .footer_infotext .footer_lineinfo {
    display: flex;
    gap: 30px;
}

.footer_list li {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding-block: 10px;
    padding-inline: 10px;
    font-size: 15px;
}

.footer_list li:hover {

    text-shadow: 0px 0px 10px white;
}
footer .text_right{
    margin-top: 20px;
    text-align: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}